<div class="place_itm">
    <span class="thumb" style="background-image:url({{thumbnail}})"></span>
    <span class="dsc">
        <strong class="name">{{name}}</strong>
        <p class="addr">{{address}}</p>
    </span>
</div>